* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: Inter, sans-serif;
  line-height: 1;
  font-weight: 400;
}

/*************************/
/* NAV SECTION */
/*************************/

.nav {
  margin: 0 auto;
  display: flex;
  gap: 68rem;
  height: 9.6rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 30px #e9e5e5;
}

.logo {
  width: 15rem;
  /* mix-blend-mode: color-burn; */
}

.elements {
  display: flex;
  gap: 5rem;
}

.complain-link {
  text-decoration: none;
  color: black;
}

.complain-link:hover {
  color: rgb(51, 146, 229);
}

.nav-ele {
  font-size: 1.7rem;
  font-weight: 600;
  list-style: none;
}

.nav-ele:active,
.nav-ele:hover {
  color: rgb(51, 146, 229);
  cursor: pointer;
}

/*************************/
/* HERO SECTION */
/*************************/

.hero-section {
  max-width: 120rem;
  margin: 0 auto;
  padding-top: 9rem;
  padding-bottom: 14rem;
  display: flex;
  gap: 12rem;
}

.parking {
  width: 50rem;
}

.primary-text {
  font-size: 5rem;
  padding-bottom: 4rem;
}

.secondary-text {
  font-size: 1.8rem;
  color: #6d6e6f;
  line-height: 1.5;
  padding-bottom: 3rem;
}

.btn {
  padding: 1rem;
  display: flex;
  gap: 0.6rem;
  width: 27rem;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 2rem;
  cursor: pointer;
}

.text {
  font-size: 1.6rem;
  font-weight: 700;
}

.logos {
  font-size: 1.6rem;
  color: black;
}

.btn:link,
.btn:hover {
  background-color: #000000;
  border: 1px solid #000000;
  .text,
  .logos {
    color: #fff;
  }
}

/*************************/
/* HOW IT WORKS SECTION */
/*************************/

.working-section {
  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.box {
  display: flex;
  gap: 18rem;
  padding-bottom: 9rem;
}

.tertiary-text {
  font-size: 4.5rem;
  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

.number {
  font-size: 8rem;
  font-weight: 700;
  color: #a3a5a8;
  padding: 2rem 0;
}

.q-text {
  font-size: 2.6rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

.sub-text {
  font-size: 1.8rem;
  color: #6d6e6f;
  line-height: 1.5;
}

.info {
  width: 50rem;
  height: 30rem;
}

.preferences {
  width: 40rem;
  height: 30rem;
}

.check {
  width: 40rem;
  height: 30rem;
}

.access {
  width: 40rem;
  height: 30rem;
}

/*************************/
/* FEATURES SECTION */
/*************************/

.features-section {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8rem;
  padding-bottom: 9rem;
}

.feature-head {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.feature-logo {
  font-size: 5rem;
  color: rgb(51, 146, 229);
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: rgb(217, 237, 255);
  border-radius: 4rem;
}

.feature-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
  color: #6d6e6f;
}

/*************************/
/* FOOTER */
/*************************/

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  /* margin-bottom: 9rem; */
}

.footer {
  margin: 0 2rem;
  padding: 10rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
